
<%- include('include/start.ejs') %>
<%- include('include/header.ejs') %>

<section class="home">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div>Online banking allows a user to conduct financial transactions via the Internet. 
                Online banking is also known as Internet banking or web banking. 
                Online banking offers customers almost every service traditionally 
                available through a local branch including deposits, transfers, 
                and online bill payments.
            </div>
        </div>
    </div>
    
</section>


<%- include('include/end.ejs') %>

